@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
*{
    font-family: "Bona Nova SC", serif;
    color:#130f40;
}
body{
    background-color:#1B9CFC;
}
.faq-accordian{
    max-width:800px;
    margin: 0 auto;    
}

.faq-item{
    margin-bottom:20px;
    border:1px solid #f8c291;
    border-radius:5px;
    overflow:hidden;
}
h2{
    color:#c7ecee;
}
.faq-item-header{
    background-color:#6a89cc;
    padding:15px;
    cursor:pointer;
    font-size:18px;
   color:#fff;
    transition:background-color 0.3s ease;
    }
.faq-item-header:hover{
    background-color:#4a69bd;
}

.faq-item-body{
    background-color:#fff;
    max-height:0px;
    overflow:hidden;
    transition: max-height 0.5s ease;
}

.faq-item-body-content{
    padding:15px;
   color:#fff;
    background-color:#1e3799;
}
.faq-item.active .faq-item-body{
    max-height:300px;
}
